.content {
  background: color(var(--colorPrimary) l(99%));
  color: var(--colorText);
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  max-width: 50em;
  width: 100%;
  margin: 0 auto;
  border-radius: 3px;
}
