.header {
  width: 100%;
  padding: 0 0.5vr;
}

.heading {
  margin: 1vr 0;
}

.chunk {
  display: inline-block;
  text-decoration: inherit;
}

.subHeading {
  font-size: 1rem;
  font-weight: 400;
  display: block;
  text-decoration: inherit;
  margin-top: 0.5vr;
}

a.link {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;

  &:hover {
    color: inherit;
  }
}

.logo {
  width: 2.5vr;
  height: 2.5vr;
  margin-right: 0.5vr;
}

.wordmark {
  display: flex;
  align-items: center;
}

@media (--tablet-up) {
  a.link {
    flex-direction: row;
    align-items: center;
  }

  .subHeading {
    display: inline-block;
    margin-left: 1vr;
    margin-top: 0;
  }
}

@media (--large-desktop-up) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
}
