.footer {
  width: 100%;
  padding: 0.5vr;
}

@media (--tablet-down) {
  .secondNav {
    margin-top: 0.5vr;
  }
}

@media (--desktop-up) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (--large-desktop-up) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
