.footer {
  width: 100%;
  padding: 0.5vr;
}

.section {
  margin-top: 0.5vr;

  &:first-child {
    margin-top: 0;
  }
}

.credits {
  margin-top: 2vr;
}

@media (--large-desktop-up) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
