.contentContainer {
  flex: 1;
}

.column {
  display: flex;
}

.leftColumn,
.rightColumn {
  composes: column;
}

.leftColumn {
  background: url('./background.jpg') no-repeat;
  background-size: cover;
  padding-bottom: 61.8%; /* Roughly 1089 / 1762 (aspect-ratio of background.jpg) */
}

.tabletHeader {
  display: none;
}

.mobileContent {
  padding: 1vr 0.5vr;
  width: 100%;
}

.tabletContent {
  display: none;
}

.contentContainer {
  width: 100%;
}

.contentSection {
  margin-bottom: 1.5vr;

  &:last-child {
    margin-bottom: 0;
  }
}

.contentSectionHeading {
  margin: 0 0 0.25vr;
}

/* Unfortunately need <a> to override other styles */
.upToLink,
a.upToLink {
  display: inline-block;
  padding: 0.25vr 0.5vr;
  margin-bottom: 0.25vr;
  border: 1px solid transparent;
  border-radius: var(--radiusDefault);
  text-decoration: none;

  &.boostMySchool {
    background-color: #5f867f;
    color: var(--colorInvertedText);

    &:hover {
      background-color: #437168;
      color: var(--colorInvertedText);
    }
  }

  &.thumIo {
    border-color: #1a4670;
    color: #1a4670;

    &:hover {
      background-color: #ebf4fc;
    }
  }

  &.bookBooster {
    background-color: #1b2860;
    color: #fee9f2;

    &:hover {
      color: #f9c4da;
    }
  }

  &.verse {
    background-color: #444;
    color: #f9fafc;

    &:hover {
      color: #80d3fb;
    }
  }

  &.viking {
    background-color: #fff;
    border-color: #333;
    color: #333;

    &:hover {
      background-color: #ecf4fb;
    }
  }

  &.naturalizeUs {
    border-color: #b6d7a8;
    color: #0b5394;

    /*
    &:hover {
      color: #80d3fb;
    }
    */
  }
}

.position {
  padding-left: 0.5vr;
  color: var(--colorLightText);
}

@media (--tablet-up) {
  .contentContainer {
    display: flex;
    flex-direction: row;
  }

  .column {
    flex: 1;
  }

  .tabletHeader {
    display: block;
  }

  .phoneHeader {
    display: none;
  }

  .mobileContent {
    display: none;
  }

  .tabletContent {
    display: block;
    color: var(--colorText);
    padding: 1vr;
  }

  .leftColumn {
    background-position: -3rem;
    min-height: 20vr;
    padding-bottom: 0;
  }
}

@media (--desktop-up) {
  .leftColumn {
    flex: 2;
    background-position: center;
  }
}
