.heading {
  margin: 1vr 0;
}

.subHeading {
  font-weight: 400;
  display: block;
  font-size: 70%;
}

.container {
  align-items: center;
  height: 100%;
  max-width: 100%;
  width: var(--widthMax);
}

.contentContainer {
  flex: 1;
}

.column {
  display: flex;
}

.leftColumn,
.rightColumn {
  composes: column;
}

.leftColumn {
  background: url('./background.jpg') no-repeat;
  background-size: cover;
  padding-bottom: 61.8%; /* Roughly 1089 / 1762 (aspect-ratio of background.jpg) */
}

.tabletHeader {
  display: none;
}

.header {
  width: 100%;
  padding: 0 0.5vr;
}

.footer {
  width: 100%;
  padding: 0.5vr;
}

.mobileContent {
  padding: 0.5vr;
}

.tabletContent {
  display: none;
}

.contentContainer {
  width: 100%;
}

@media (--tablet-up) {
  .contentContainer {
    display: flex;
    flex-direction: row;
  }

  .column {
    flex: 1;
  }

  .tabletHeader {
    display: block;
  }

  .phoneHeader {
    display: none;
  }

  .subHeading {
    display: inline-block;
    margin-left: 0.5vr;
  }

  .mobileContent {
    display: none;
  }

  .tabletContent {
    display: block;
    background: color(var(--colorPrimary) l(98%) alpha(0.8));
    color: var(--colorText);
    padding: 1vr;
  }

  .leftColumn {
    background-position: -3rem;
    min-height: 10vr;
    padding-bottom: 0;
  }
}

@media (--large-desktop-up) {
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .leftColumn {
    flex: 2;
    background-position: center;
  }
}
